.listItems {
  width: 300px;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  list-style-type: none;
  li {
    color: #111;
    line-height: 25px;
    font-family: Lato;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    cursor: pointer;
    :last-child {
      border-bottom: 0;
    }
  }
}
.tab-wrapper {
  // padding-top: 10px;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    li {
      background-color: #111;
      padding: 15px;
      width: 150px;
      margin: 10px;
      border-radius: 5px;
      color: #fff;
      font-family: Lato;
      text-align: center;
      cursor: pointer;
    }
  }
  .tab-content {
    width: 600px;
    border: 1px solid #dedede;
    margin: auto;
  }
}
.tab-content-wrapper {
  .tab-content {
    width: 600px;
    margin: auto;
    border: 1px solid #dedede;
    padding: 10px;
    border-radius: 5px;
  }
}
